@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -90%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -100%);
  }
}

.animate-fade-in {
  animation: fadeIn 200ms ease-out forwards;
}

.note-grid {
  display: grid;
  gap: 1.5rem;
}

/* Mobile and tablet */
@media (max-width: 768px) {
  .note-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop */
@media (min-width: 769px) {
  .note-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}